/* common sheared styles */
body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* nav related style  */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 300px;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
.a{
    color: lightblue;
}
.b{
    color: cadetblue;
}
.n{
    color: lime;
}
nav > ul{
display: flex;
align-items: center;
}
nav  li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 10px 2px 10px 3px;
    border: 0px;
    background-color: #fd6e0a;
    font-size: 20px;
    font-weight: 700;
    color: lightyellow;
    padding: 15px 33px;
}
/* header related style */
.header{
    background-color: aquamarine;
    background-image: url(../images.jpg);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: bottom right;
}
.banner{
    padding: 30px 0px 0px 150px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin: 5px;
}
/* main section style */

/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}